<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433566510167-ulhe6ntjflfd99coi02ohqtcev7gcuqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433566510167-ulhe6ntjflfd99coi02ohqtcev7gcuqh</string>
	<key>API_KEY</key>
	<string>AIzaSyCaUDYjJiGvdtOfR6U7Fa9hCghCc4vPF-4</string>
	<key>GCM_SENDER_ID</key>
	<string>433566510167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eos.eosChatting</string>
	<key>PROJECT_ID</key>
	<string>eos-chatting-fd732</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-chatting-fd732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433566510167:ios:d6d51f4618430f832e0712</string>
</dict>
</plist>